<div class="header" style="position: relative; height: 200px;">
    <div class="name">
        <h1 class="display-4">Edrian Díaz</h1>
        <h3>Full Stack Developer</h3>
    </div>

    <div style="position: absolute;bottom: 5px; right: 10px;">
        <a href="//linkedin.com" target="_blank">
            <img src="../../assets/LinkedIn.png" alt="linkedin" style="width: 24px; height: 24px;" class="rounded-circle me-2">
            
        </a>
        <a href="//github.com" target="_blank">
            <img src="../../assets/github.png" alt="Github" style="width: 24px; height: 24px;" class="rounded-circle me-2">
            
        </a>
    </div>
    <div style="position: absolute;bottom: 5px;">
        <a (click)="ChangeLang('en')">
            <img src="../../assets/englishFlag.png" alt="EnglishLang" style="width: 24px; height: 24px;" class="rounded-circle me-2">
            
        </a>
        <a (click)="ChangeLang('es')">
            <img src="../../assets/spanishFlag.jpg" alt="SpanishLang" style="width: 24px; height: 24px;" class="rounded-circle me-2">
            
        </a>
    </div>
    <div style="position: absolute;bottom: 5px;">
    
        <button (click)="ChangeLang('en')">
            <img src="../../assets/englishFlag.png" alt="EnglishLang" style="width: 24px; height: 24px;" class="rounded-circle me-2">

        </button>
        <button (click)="ChangeLang('es')">
            <img src="../../assets/spanishFlag.jpg" alt="EnglishLang" style="width: 24px; height: 24px;" class="rounded-circle me-2">

        </button>
        
    </div>
</div>