<div class="container">
    <div class="text-center border mb-5 shadow roudned">
        <h1>Contact</h1>
        <p>I can be reached at the following email: <b>edriandiazperez3&#64;gmail.com</b></p>
        <p>Feel free to connect with me on any of the following platforms:</p>
    </div>

    <div class="list-group shadow">
        <a href="//linkedin.com" target="_blank" class="list-group-item list-group-item-action d-flex fap-3 py3">
            <img src="../../assets/LinkedIn.png" alt="linkedin" style="width: 32px; height: 32px;" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>
        <a href="//github.com" target="_blank" class="list-group-item list-group-item-action d-flex fap-3 py3">
            <img src="../../assets/github.png" alt="linkedin" style="width: 32px; height: 32px;" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Github</h3>
        </a>
    </div>
</div>
