<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF resume</button>
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden">></div>
                    <div class="btn-link">Work Experience</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white">></div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white">v</div>
                    </div>

                </button>
                <div style="text-align: Left;">
                    <h2 class="mb-0">Full stack Developer</h2>
                    <h3>E-asy</h3>
                    <ul>
                        <li>Frontend Design with REACT</li>
                        <li>Frontend communication with APIs</li>
                        <li>Backend logic implementation</li>
                        <li>Github</li>
                        <li>Documentation</li>
                    </ul>
                </div>

            </accordion-group>
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden">></div>
                    <div class="btn-link">Education</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white">></div>
                        <div *ngIf="isEducationOpen" style="color: white">v</div>
                    </div>

                </button>
                <div style="text-align: Left;">
                    <h2 class="mb-0">Multiplatform Application developer</h2>
                    <h3>CIPF Cesar Manrique</h3>
                    <ul>
                        <li>Database design</li>
                        <li>REST API design</li>
                        <li>project infrastructure design</li>
                        <li>UI Design</li>
                        <li>Web, mobile and desktop applications</li>
                        <li>Java, kotlin, JavaScript, JavaFX</li>
                    </ul>
                </div>

            </accordion-group>
           <!-- <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden">></div>
                    <div class="btn-link">Certifications</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificationsOpen" style="color: white">></div>
                        <div *ngIf="isCertificationsOpen" style="color: white">v</div>
                    </div>

                </button>
                <div style="text-align: Left;">
                    <h2 class="mb-0">Full stack Developer</h2>
                    <h3>E-asy</h3>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, delectus?</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, delectus?</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, delectus?</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, delectus?</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, delectus?</li>
                    </ul>
                </div> 

            </accordion-group>-->
            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden">></div>
                    <div class="btn-link">Skills</div>
                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white">></div>
                        <div *ngIf="isSkillsOpen" style="color: white">v</div>
                    </div>

                </button>
                <div style="text-align: Left;">
                    <h2 class="mb-0">Aptitudes</h2>
                    <h3>Languages</h3>
                    <ul>
                        <li>Native Spanish</li>
                        <li>Full professional english competenece (C1)</li>
                    </ul>
                    <h3>Workspace</h3>
                    <ul>
                        <li>Quick adaptation to new technologies</li>
                        <li>Problem solving</li>
                        <li>Flexibility</li>
                        <li>Teamwork communication</li>
                        <li>Time management</li>
                    </ul>
                    <h2 class="mb-0">Full stack Developer</h2>
                    <h3>Github</h3>
                    <ul>
                        <li>Version control</li>
                        <li>Documentation</li>
                        <li>Collaboration</li>
                        <li>Code review</li>
                    </ul>
                    <h3>FrontEnd</h3>
                    <ul>
                        <li>User interface Design</li>
                        <li>Frontend communications with API</li>
                        <li>User form validation</li>
                        <li>Responsive Design</li>
                        <li>JavaScript, TypeScript, Angular, React, JavaFX</li>
                    </ul>
                    <h3>Backend</h3>
                    <ul>
                        <li>Logic and endpoint logic design</li>
                        <li>Database communication</li>
                        <li>Bussines logic and data validation</li>
                        <li>SpringBoot, express, node.js, Java, C#</li>
                    </ul>
                    <h3>Database</h3>
                    <ul>
                        <li>Query creation and data optimization</li>
                        <li>Relational databse design and implementaion</li>
                        <li>Data migration and backups</li>
                    </ul>
                    
                </div>

            </accordion-group>
        </accordion>
    </div>

</div>